* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body {
    background-color: #08A045;
    width: 100vw;
}

h1 {
    text-align: center;
    margin: 32px auto;
}

.foto {
    display: flex;
    justify-content: center;
}

.foto img {
    border-radius: 50%;
    margin: 32px auto;
}

p {
    text-align: center;
    margin: 32px auto;
}

.item1 {
    font-size: 24px;
}

.item2 {
    font-size: 18px;
}

.lista {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}